<div class="lists-itens__add">
    <add-itens (productNameEmmiter)="addItem($event)"></add-itens>
</div>

<h2>Esta é sua lista de compras:</h2>
<div class="list-itens__list-complete" >
    <ng-template #containerListItens (totalValueEmitter)="getTotalValue(e)">
        
    </ng-template>
</div>
<footer class="list-itens__foter">
    <div class="list-itens__total" >
        Valor total da compra: R$ 0,00
    </div>
    <div  class="list-itens__share">
        <span>Compartilhe esta lista:</span>
        <button mat-mini-fab color="primary" class="list-itens__share--btn" (click)="shareList()">
            <mat-icon aria-hidden="false" aria-label="Done" fontIcon="share">done</mat-icon>    
        </button>
    </div>
</footer>