<div class="additem__container">
    
        <mat-form-field class="additem__mat-input">
            <mat-label>Nome do produto a ser adicionado</mat-label>
            <input matInput type="text" name="item" class="additem__input-label" id="additem__input--label" required [formControl]="productNameControl"> 
            @if (productNameControl.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error>
            }   
        </mat-form-field>
        <button (click)="addItem()" mat-mini-fab color="primary">
            <mat-icon aria-hidden="false" aria-label="Add item" fontIcon="add_circle"></mat-icon>
        </button>
    
</div>